@media (max-width: 76em) {
  .cta-content-section {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 68em) {
  .cta-content-section {
    padding: 3.2rem;
  }

  .cta-text-div {
    margin-bottom: 4.6rem;
  }

  .cta-content-section .cart-icon-main-div {
    top: 2.8rem;
    right: 12rem;
  }
}

@media (max-width: 53em) {
  .cta-grid {
    grid-template-columns: 1fr;
  }

  .cta-text-div {
    align-items: center;
  }

  .heading-primary {
    text-align: center;
  }

  .blue-background-div {
    height: 60rem;
    top: -50rem;
  }
}

@media (max-width: 44em) {
  .cta-content-section .cart-icon-main-div {
    top: 2.8rem;
    right: 6rem;
  }
}

@media (max-width: 35em) {
  .cta-content-section .cart-icon-main-div {
    top: 3rem;
    right: 6rem;
  }

  .cta-content-section .nav-btn {
    display: block;
  }

  .cta-content-section nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.6rem;
    background-color: rgba(0, 0, 0, 0.824);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 1000;
  }

  .cta-content-section .responsive-nav {
    transform: none;
    z-index: 1000;
  }

  .responsive-nav .nav-link {
    color: white;
    border: none;
  }

  .responsive-nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
  }
}

@media (max-width: 23em) {
  .cta-content-section .cart-icon-main-div {
    top: 3.1rem;
    right: 6rem;
  }
}

@media (max-width: 20em) {
  .heading-primary {
    font-size: 4.2rem;
  }

  .cta-img {
    width: 100%;
  }
}
