@media (max-width: 39em) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
  }

  .footer-div {
    padding: 0.6rem;
  }
}

@media (max-width: 31em) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 20em) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }
}
