.cart-icon-main-div {
  position: absolute;
  right: 6rem;
  top: 2rem;
  cursor: pointer;
}

.cta-content-section .cart-icon-main-div {
  top: 4.2rem;
  right: 12rem;
}

.cart-icon svg {
  width: 3rem;
  height: 3rem;
}

.cart-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-icon-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  font-size: 1.2rem;
}

.cart-section {
  height: 100vh;
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  z-index: 1;
  padding: 2.2rem;
  border-left: 2px solid #e68613;
  transition: all 0.5s;
}

.cart-section-no-active {
  transform: translateX(100%);
}

.cart-section-active {
  transform: translateX(0%);
}

.shopping-cart-close-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-close-icon svg {
  height: 3rem;
  width: 3rem;
  color: white;
  cursor: pointer;
}

.your-shopping-cart-text {
  color: white;
  font-size: 1.8rem;
  text-decoration: underline;
}

.cart-img-div {
  padding: 1.2rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-img {
  width: 100%;
}

.cart-content-big-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.cart-content-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.cart-content-text-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.cart-content-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.2rem;
}

.cart-item-delete-icon svg {
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
}

.cart-adding-quantity-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.cart-mini-div-item-quantity {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
}

.cart-add-remove-btn {
  cursor: pointer;
}

.cart-text {
  color: white;
  font-size: 1.6rem;
}

.dotted-div {
  height: 2rem;
  width: 100%;
  border-top: dashed 4px white;
}

.total-buy-main-div {
  position: absolute;
  width: 90%;
  bottom: 2.2rem;
  z-index: 1;
  background-color: #333;
}

.total-buy-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cart-buy-btn {
  width: 12rem;
  height: 3rem;
  background-color: #e68613;
  border: 2px solid #73430a;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.cart-buy-btn:hover {
  background-color: #333;
  border: 2px solid #e68613;
}

.delete-item {
  display: none;
}

.cart-content-main-div-scroll {
  height: 90%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e68613; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Optional: Add rounded corners to the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: #333; /* Set the color of the scrollbar track */
  }
}
