* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
}

.section {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.2rem;
  color: #e68613;
  line-height: 1.2;
}

.heading-secondary {
  font-family: "Pacifico", cursive;
  color: #e68613;
  text-align: center;
  font-size: 4.2rem;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #733f00;
}

.heading-terciary {
  font-size: 1.8rem;
  color: #e68613;
}
